h1 {
    color: red;
    font-size: 54px;
    font-weight: 900;
}

h2 {
    color: goldenrod;
    font-size: xx-large;
    font-family: fantasy;
}

p {
    color: darkgreen;
    font-size: 20px;
}

figure {
    float: left;
    margin: 0 20px 20px 0;
    width: 320px;
}